<footer class="footer">
  <small>
   <a href="https://twins.tsukuba.ac.jp">ikaikaikaripoem</a>
  </small>
  <nav>
   <ul>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="https://www.ecloud.tsukuba.ac.jp/manaba">News</a></li>
   </ul>
  </nav>
</footer>
